.progress-section {
    .inner-container {
        max-width: 1170px;
        margin: 0 auto;
    }
    .progress-box {
        border:1px solid rgba(0, 0, 0, 0.05);
    
    h6 {
        font-size: 18px;
        color: #171717;
    }
    p {
        color: #525252;
    }
}
}