.testimonials {
    .inner-container {
        max-width: 1110px;
        margin: 0 auto;
    }
    p {
        font-size: 18px;
        color: #171717;
    }
    h6{
        color: #171717;
    }
    span {
        color:#737373;
    }
}